Source: go-identify
Section: misc
Priority: optional
Maintainer: Maud Spierings <maudspierings@gocontroll.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3-setuptools,
 python3-all,
Standards-Version: 4.6.2
Homepage: https://gocontroll.com
Vcs-Browser: https://github.com/GOcontroll/go-identify
Vcs-Git: https://github.com/GOcontroll/go-identify.git

Package: go-identify
Architecture: all
Depends:
 lsb-release,
 go-modules,
 ${python3:Depends},
 ${misc:Depends},
Suggests:
 python3-go-leds,
Description: A small script to print some info and flash leds if available

